
body{
  background-color: #011627;
  text-align: center;
  border-bottom: 20px solid skyblue;
  border: 30px solid #2EC486;
  border-top: 0px;
  color: #FDFFFC;
  margin: 0px;
}
p{
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 5%;
}
form{
  font-size: 1.5em;
  margin-bottom: 10px;
}

#sub{
  background-color: #FF9F1C;
  height: 80px;
  width: 150px;
  margin: 12px;
  margin-top: 1.5em;
  font-size: 1em;
  border-radius: 25px;
}
